<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation">
</nav>
<h1>All Events</h1>
<p th:unless="${events} and ${events.size()}">No Events!</p>
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Address</th>
        <th scope="col">Photo</th>
    </tr>
    </thead>
    <tr scope="row" th:each="event : ${events}">
        <td th:text="${event.key}"></td>
        <td th:text="${event.value}"></td>

    </tr>
</table>

</body>
</html>